/*--------------------------------------------*
*--Main CSS file for Influencer Gear Website--*
*--------------------------------------------*/

/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope&family=Poppins:wght@400;500;600;700;900&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Colors variable */
:root {
    --black: #000;
    --d-black: #0A0826;
    --l-black: #3a3a3a;
    --white: #ffffff;
    --red: #E02C6D;
    --gold: #FB8200;
  }

/* Normalized  Browser Style */
*, body{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

/* Common Style */
.container{
    max-width: 1280px;
    display: grid;
    margin: 0 auto;
}
.red{
    color: var(--red);
}


/* Header */
header{
    padding: 50px 0 20px;
}
header .container{    
  grid-template-columns: auto auto;
}
header .site-title a{
    text-decoration: none;
}
header .site-title a h1{
    font-size: 24px;
    font-weight: 600;
    color: var(--d-black);
}

header .site-title h1 span{
    font-weight: 700;
}

header nav .navbar{
    display: flex;
    justify-content: end;
    align-items: center;
}

header nav .navbar .nav-item{
    list-style: none;
    margin: 0 10px;
}

header nav .navbar .nav-item a.nav-link{
    color: var(--d-black);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

header nav .navbar .nav-item.active a.nav-link, header nav .navbar .nav-item a.nav-link:hover{
    color: var(--red);
}